{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Acc</title>
    <link rel="stylesheet" href="{% static '/css/account-management.css' %}">
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
</head>
<body>
    <div class="createAcc">
        {% csrf_token %}
        <form action="/add/user/" method="post">
            <h4>Create Acc</h4>
            <br>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id ="username">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="input-group">
            <label for="password_one">Password</label>
            <input type="password" name="password" id="password_one">
        </div>
        <div class="input-group">
            <label for="password_two">Confirm Password</label>
            <input type="password" id ="password_two">
        </div>
        <button type="submit">Create Acc</button>
        </form>
    </div>
</body>
<script>
    function validate(){
        let password = $("input[id='password_one']").val()
        let password_two = $("input[id='password_two']").val()
        if (password === password_two){
            return true
        }
        else{
            alert("Entered Password dont Match")
            return false
        }
    }
    document.querySelector("form").addEventListener("submit", e=>{
        if(!validate()){
            e.preventDefault()
        }
    })
    </script>
</html>